.Card {
    width: 300px;
    margin: 10px;

    background-color: rgb(70, 70, 70);

    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions {
    align-items: flex-start;
}